<div class="container">
    <div class="row radius">
        <div class="col-lg-12">
            <h3>削除が完了しました。</h3>
            <div class="back-to-root">
                <a href="/"><input type="button" value="投稿一覧へ戻る"></a>
            </div> 
        </div>
    </div>
</div>