<table class="table table-hover">
    <thead>
      <tr>
        <th>番号</th>
        <th>タイトル</th>
        <th>〆切</th>
        <th>チェック</th>
      </tr>
    </thead>

    <tbody>
        <% @tasks.each do |task| %>
            <tr>
            <th scope="row"><%= task.id %></th>
            <td><%= task.title %></td>
            <td><%= task.deadline %></td>
            <td>
                <div class="checkbox">
                    <label><input type="checkbox" name="is_finished" value="<%= task.is_finished %>"></label>
                </div>
            </td>
            <td>
                <div class="edit">
                    <a href="/tasks/#{@task.id}"><button type="button" class="btn btn-outline-success">編集</button></a>
                </div>
                <div class="delete">
                    <a href="/tasks"><button type="button" class="btn btn-outline-danger">削除</button></a>
                </div>
            </td>
            </tr>
        <% end %>
    </tbody>
</table>